.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}

.logo{
  width: 100px; 
  height: 100px;
}



@media screen and (max-width: 768px) {
  .app-header {
    flex-direction: flex;
  }
  .logo{
    width: 100px; 
    height: 100px;
  }
}
